<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title Here</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="all">
        <script src="script.js"></script>
    </head>
    <body>
        <header>
            <div class="hamburger-menu">
                <p>コンピュータ研究会・WINC</p>
                <input type="checkbox" id="menu-btn-check">
                <label for="menu-btn-check" class="menu-btn"><span></span></label>
                <div class="menu-content">
                    <ul>
                        <li>
                            <a href="#">MEMBER PROFILE</a>
                        </li>
                        <li>
                            <a href="#">ACCOUNTING</a>
                        </li>
                        <li>
                            <a href="#">GALLERY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="teambox1">
                  <div class="titlebox">
                        <p class="title1">TEAMS</p>
                  </div>
                 <div class="teambox3">
                    <div class="button-area">
                        <a href="#profile-group-hp">HP</a>
                    </div>
                    <div class="button-area">
                        <a href="#profile-group-hp">競プロ</a>
                    </div>
                    <div class="button-area">
                        <a href="#profile-group-security">セキュリティ</a>
                    </div>
                    <div class="button-area">
                        <a href="#profile-group-web">WEB</a>
                    </div>
                    <div class="button-area">
                        <a href="#profile-group-ds">データサイエンス</a>
                    </div>
                    <div class="button-area">
                        <a href="#profile-group-app">アプリ</a>
                    </div>
                 </div>
            </div>
            <div class="profile">
                <div id="profile-group-hp">
                    <div class="profile_hp_title">
                        <p class="teamName">HPチーム</p>
                    </div>
                    <div class="profileHpBoxes">
                    {% for global_dict in global_dict_list %}
                        {% if global_dict["team"] == "hp" %}
                        <div class="profile_box">
                            <div class="image">
                                <img src="../static/images/{{global_dict["img"].decode("UTF-8")}}">
                            </div>
                            <div class="profile_texts">
                                <h1>{{global_dict["name"]}}</h1>
                                <div class="flex-wrapper">
                                    <h2 class="team">{{global_dict["team"]}}</h2>
                                    <h2>{{global_dict["member"]}}</h2>
                                </div>
                                <h3>{{global_dict["uni"]}}</h3>
                                <button>詳細</button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <!-- カードここから -->
                        <div id="mask" class="hidden"></div>
                        <section id="modal" class="hidden">
                            <div class="card">
                                <div class="card_contents">
                                    <div class="card_left">
                                        <img url="">
                                        <h2></h2>
                                    </div>
                                    <div class="card_right">
                                        <h3>役職/所属チーム</h3>
                                        <h3></h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- カードここまで -->
                        <div class="profile_box">
                            <div class="image">
                                <img src="">
                            </div>
                            <div class="profile_texts">
                                <h1></h1>
                                <div class="flex-wrapper">
                                    <h2 class="team">HPチーム</h2>
                                    <h2>メンバー</h2>
                                </div>
                                <h3></h3>
                                <button>詳細</button>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="profile-group-competition">
                    <div class="profileComBoxes">
                        <p class="teamName">競技プログラミングチーム</p>
                        <div class="flex-wrapper">
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">競プロ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">競プロ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="profile-group-security">
                    <div class="profileSecBoxes">
                        <p class="teamName">セキュリティチーム</p>
                        <div class="flex-wrapper">
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">セキュリティ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">セキュリティ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="profile-group-web">
                    <div class="profileWebBoxes">
                        <p class="teamName">WEBチーム</p>
                        <div class="flex-wrapper">
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">WEB</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">WEB</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="profile-group-ds">
                    <div class="profileDsBoxes">
                        <p class="teamName">データサイエンスチーム</p>
                        <div class="flex-wrapper">
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">DS</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">DS</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="profile-group-app">
                    <div class="profileAppBoxes">
                    <p class="teamName">アプリチーム</p>
                        <div class="flex-wrapper">
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">アプリ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                            <div class="profile_box">
                                <img src="" alt="">
                                <div class="profile_texts">
                                    <h1>名前　名前</h1>
                                    <div class="flex-wrapper">
                                        <h2 class="team">アプリ</h2>
                                        <h2>メンバー</h2>
                                    </div>
                                    <h3>早稲田大学　文学部</h3>
                                    <button>詳細</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>