<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title Here</title>
        <link rel="stylesheet" type="text/css" href="../static/css/profile_card.css" media="all">
    </head>
    <body>
        <div class="card">
            <div class="card_contents">
                <div class="card_left">
                    <img src="../static/images/Ellipse 1.png">
                    <h2>{{global_dict["name"]}}</h2>
                </div>
                <div class="card_right">
                    <h3>{{global_dict["team"]}}</h3>
                    <h3>{{global_dict["uni"]}}</h3>
                    <p>{{global_dict["intro"]}}</p>
                </div>
            </div>
        </div>
    </body>
</html>